
<div class="row">
	<div class="col-md-12 " >
		<center><h2>GoTurista</h2></center>
	</div>
	<div class="col-lg-6">
	    <div class="form-group ">
			<div id="keypress" class="col-lg-6"></div> 
		</div>
		        
		<input id="input-with-keypress" type="text"></input>
		<div class="carousel">
			<div class="carousel-item ">
				<%= image_tag  "restaurant/katana.jpg", :class=>"img-thumbnail img-check"%>
				<input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
			</div>
			<div class="carousel-item ">
				<%= image_tag  "restaurant/katana1.jpg", :class=>"img-thumbnail img-check"%>
				<input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
			</div>
			<div class="carousel-item ">
				<%= image_tag  "restaurant/katana2.jpg", :class=>"img-thumbnail img-check"%>
				<input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
			</div>
			<div class="carousel-item ">
				<%= image_tag  "restaurant/katana2.jpg", :class=>"img-thumbnail img-check"%>
				<input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
			</div>
			<div class="carousel-item ">
				<%= image_tag  "restaurant/katana2.jpg", :class=>"img-thumbnail img-check"%>
				<input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
			</div>
		</div>
	</div>
	<%= link_to "Explora Manzanillo", {:controller => "questions", :action => "question" }, :type=>"button", :class=>"btn btn-primary btn-lg btn-block"%>

</div>

<<<<<<< HEAD
<%= link_to "Explora Manzanillo", {:controller => "questions", :action => "question" }, :type=>"button", :class=>"btn btn-primary btn-lg btn-block"%>
=======

		
>>>>>>> 8e2b9b5bfba5986247af1a869c4dd09bac11a998
