<div class="navbar navbar-info">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">GoTurista!</a>
        </div>
        <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }%>
                </li>
                <li class="active"><%= link_to '¿Tienes un negocio?, Registrate', '../users/sign_up' %></li>
                <li><%= link_to 'Ingresa', 'users/sign_in' %></li>
                <% @types.each do |type| %>
                    <li>
                        <%= link_to type.Name, {:controller => "turist", :action => "index", :type_id => type.id }%>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <center> <h1><%= @site.Name %> </h1>   </center>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12 col-sm-12 col-lg-12" >
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <%  cont  = 1 %>
                            <% @photosGaleria.each do |photo| %>    
                                <% if cont == 1 %>
                                    <%  cont  = 0 %>
                                    <div class="item active">
                                    <%= image_tag photo.SRC %>
                                </div>
                                <% end %>
                                <div class="item ">
                                    <%= image_tag photo.SRC %>
                                </div>
                            <% end %>

                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>


        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div id="map-outer" class="col-md-12">
            <div id="address" class="col-md-12">
                <h2><center><%= @site.Description %>
                    <center> </h2>
                        <% if @site.IsFree == 0 %>
                        <%= link_to "Promociones Y Productos", {:controller => "turist_prod", :action => "index" }, :type=>"button", :class=>"btn btn-primary btn-lg btn-block"%>
                        <% end %>
                        <br><hr>
                        <h2>Informacion</h2>
                        <address>
                            <% @type.each do |item| %>
                            <strong><%= item.Name  %></strong>
                            <% end %>
                            <br>
                            <% @clasification.each do |item| %>
                            <strong><%= item.Name  %></strong>
                            <% end %>
                            <br>
                            <%= @site.Colony  %><br>
                            Número Exterior #<%= @site.OutdoorNumbe  %> - Número Interior #<%= @site.IndoorNumbe  %><br>
                            <%= @site.Municipality  %>,  <%= @site.State  %><br>

                            <abbr>Tel: </abbr> <%= @site.TelNumber  %>
                        </address>
                    </div>
                    <div id="map-container" class="col-md-12"></div>
                </div><!-- /map-outer -->
            </div> <!-- /row -->

            <div class="row">
                <form class="form-horizontal" name="commentform">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-12">
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nombre"/>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellido"/>
                        </div>
                        <div class="col-md-4 col-sm-12 input-group ">
                            <span class="input-group-addon">@</span>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Gmail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea rows="6" class="form-control" id="comments" name="comments" placeholder="Agrega tus Comentarios "></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" value="Submit" class="btn btn-warning ">Enviar</button>
                        </div>
                    </div>
                </form>
            </div><!-- /row -->
</div><!-- /container -->