<div class="blue white-text large-padding bold text-center" style="<%= "display:none;" if alert.nil? && notice.nil? %>">
    <p class="no-padding no-margin inline-block close"><%= notice %><%= alert %></p>
    <span class="pull-right close-parent">X</span>
  </div>
<header class="navbar undefined">
  <% if user_signed_in? %>
        <div class="navbar-branding"> <%= link_to "GoTurista", {:controller => "welcome", :action => "index" }, :class=>"navbar-brand "%><span id="toggle_sidemenu_l" class="fa fa-bars"></span></div>



        <form role="title" class="navbar-form navbar-left navbar-search alt">
          <div class="form-group">
            <h1 class="mn">General</h1>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><%= image_tag  "avatars/1.jpg"%></li>
          <li class="dropdown menu-merge"><a href="#" data-toggle="dropdown" class="dropdown-toggle fw600 p15"><span class="fa fa-angle-down"></span> </a>
            <ul role="menu" class="dropdown-menu list-group dropdown-persist w250">
              <li class="list-group-item"><a href="#" class="animated animated-short fadeInUp"><span class="fa fa-bell"></span> Notifications</a></li>
              <li class="list-group-item">
                <%= link_to   class:"animated animated-short fadeInUp", :controller => "welcome", :action => "settingsUser"  do %>
                  <span class="fa fa-gear"></span> Ajustes de Usuario
                <%end%></li>
              <li class="dropdown-footer"><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete, class:"fa fa-power-off pr5" %></li>
            </ul>
          </li>
        </ul>
      </header>
      <!-- Start: Sidebar-->
      <aside id="sidebar_left" class="nano nano-light affix">
        <!-- Start: Sidebar Left Content-->
        <div class="sidebar-left-content nano-content">
          <!-- Start: Sidebar Header-->
          <header class="sidebar-header">
            <!-- Sidebar Widget - Search (hidden)-->
            <div class="sidebar-widget search-widget hidden">
              <div class="input-group"><span class="input-group-addon"></span>
              </div>
            </div>
          </header>
          <ul class="nav sidebar-menu">
            <li>
              <div class="" align='center'>
              <%= image_tag  "avatars/1.jpg", style:"width:50%; height:50%; border-radius:50%;"%>

              </div>
            </li>
            <li class="sidebar-label pt35"></li>
            <li>
              <%= link_to  :controller => "welcome", :action => "index"  do %>
                <span class="fa fa-home"></span><span class="sidebar-title">Inicio</span>
              <%end%>
            </li>
            <li>
            <%= link_to  :controller => "welcome", :action => "services"  do %>
                <span class="fa fa-suitcase"></span><span class="sidebar-title">Servicios</span>
              <%end%>
            </li>

            <li>
             <%= link_to  :controller => "welcome", :action => "reservation"  do %>
                <span class="fa fa-credit-card"></span><span class="sidebar-title">Reservaciones</span>
              <%end%>
            </li>
            <li>
              <%= link_to  :controller => "welcome", :action => "company"  do %>
                <span class="fa fa-gear"></span><span class="sidebar-title">Empresas</span>
              <%end%>
            </li>
            </ul>
          <!-- Start: Sidebar Collapse Button-->
           <% else %>
        
    
       <% end %>
      </aside>
