     

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-xs- 2" >
                <center><h2> <strong>"Actividades Extremas"</strong></h2></center>
              
            </div>
            <br>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                           <%= image_tag "verMas/peña.jpg" %>
                            <div class="caption">

                                <h4><a href="penaBlanca">Tours por la bahia de Peña Blanca</a></h4>   
                                <p>Disfruta de un paseo por la bahía de peña blanca </p><p><a href="extremeAtivities">Categoria - <strong>Actividades Extrema</strong></a></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                              <%= image_tag "verMas/gotcha.jpg" %>
                            <div class="caption">
                                <h4><a href="gotcha">Gotcha al extremo</a>
                                </h4>
                                <p>Ven con nosotros y vive la experiencia de una gran batalla de gotcha tenemos una zona equipada completamente para que disfrutes al máximo.</p><p><a href="extremeAtivities">Categoria - <strong>Actividades Extrema</strong></a></p>.
                            </div>
                            
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                           <%= image_tag "verMas/surf.jpg" %>
                            <div class="caption">
                                <h4><a href="#">Podrias praticar skimboard! </a>
                                </h4>
                                <p>Si te intereza lo extremo puedes ir a la bahia de Playa de Oro y practicar skimboard </p><p><a href="extremeAtivities">Categoria - <strong>Actividades Extrema</strong></a></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                           <%= image_tag "verMas/moto.jpg" %>
                            <div class="caption">
                                <h4><a href="#">Un tour en cuatrimoto</a>
                                </h4>
                                <p>Podrías tener un espectacular tour en cuatrimoto por la laguna de Playa de Oro.</p><p><a href="extremeAtivities">Categoria - <strong>Actividades Extrema</strong></a></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="thumbnail">
                           <%= image_tag "verMas/buceo.jpg" %>
                            <div class="caption">
                                <h4><a href="#">Explora las bahias Snorkel </a>
                                </h4>
                                <p>Explora las bahías de manzanillo, puedes practicar Snorkel  en los distintos arrecifes que existen.</p><p><a href="extremeAtivities">Categoria - <strong>Actividades Extrema</strong></a></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                

                </div>

            </div>

        </div>

    </div>
 



    <!-- /.container -->

    
    <!-- /.container -->

    