<%= stylesheet_link_tag    'modalMap', media: 'all', 'data-turbolinks-track' => true %>

<div class="navbar navbar-info">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">GoTurista!</a>
        </div>
        <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }%>
                </li>
                <li class="active"><%= link_to '¿Tienes un negocio?, Registrate', '../users/sign_up' %></li>
                <li><%= link_to 'Ingresa', '../users/sign_in' %></li>
                <% @types.each do |type| %>
                    <li>
                        <%= link_to type.Name, {:controller => "turist", :action => "index", :type_id => type.id }%>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-12  " >
            <center><h2>Estos lugares</h2></center>
            <center><h3><strong>"Podrian gustarte"</strong></h3></center>
        </div>
        <br> 
        <div class="col-md-9 col-xs-12">
            <div class="row">
                <% cont = 0 %>
                <% @sites.each do |site| %>
                     <%  cont = cont + 1 %>
                    <% if cont % 2 != 0 %>
                        <div class="row">
                    <% end %>
                    
                    <div class="col-sm-12 col-md-6">
                        <div class="thumbnail">
                            <%= image_tag  "sites/"+site[:site].SRC, :class=>"hidden-xs hidden-sm"%>
                            <%= image_tag  "sitesMobil/"+site[:site].SRC, :class=>"hidden-lg hidden-md"%>
                            <div >
                                <br> 
                                
                                <h3 id="titulo" class="description">
                                    <%= link_to site[:site].Name, {:controller => "detail", :action => "index", :site_id => site[:site].id}%>
                                </h3>
                                <hr>
                                <h4 class="description">
                                  <p class="text-justify"> <%= site[:site].Description%> </p>
                              </h4>
                              <h5 class="description">
                                <p>
                                    <strong>
                                    <% for tp in site[:type] %>
                                        <%= link_to tp[:name], {:controller => "turist", :action => "index", :type_id => tp[:id]}%>
                                    <% end %>
                                    </strong>
                                    <br>
                                </p>
                                <p>
                                    Categorias:  
                                    <strong>
                                        <% for cla in site[:clasification] %>
                                            <%= link_to cla[:name], {:controller => "turist", :action => "index", :clasification_id => cla[:id]}%>,
                                        <% end %> 
                                    </strong>
                                    <br>
                                </p>
                            </h5>
                            <%= link_to "Ver Más", {:controller => "detail", :action => "index", :site_id => site[:site].id }, :class=>"btn btn-primary"%>
                            <button type="button" id="btnModel<%=cont%>" class="btn btn-primary ">Ver Mapa</button>
                            

                            </div>
                        </div>
                    </div>
                    <% if cont % 2 == 0 %>
                        </div >|
                    <% end %>
                <% end %>
            </div>
        </div>
    <input type="hidden" name="allSite" id="allSite" value="<%=cont%>">
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Modal Header</h2>|
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>
<%= javascript_include_tag 'modalMap', 'data-turbolinks-track' => true %>
