<div class="col-md-6 col-xs-10 col-sm-8 col-lg-5 center-block no-float">
  <div class="card big-padding">
<%= form_for :post do |f| %>
  <p>
    <%= f.label :Numero_de_Telefono %><br>
    <%= f.text_field :TelNumber ,class:"form-control" %>
  </p>

  <p>
    <%= f.label :Municipio %><br>
    <%= f.text_field :Municipality,class:"form-control" %>
  </p>

  <p>
    <%= f.label :Estado %><br>
    <%= f.text_field :State,class:"form-control" %>
  </p>

  <p>
    <%= f.label :Colonia %><br>
    <%= f.text_field :Colony,class:"form-control"  %>
  </p>


  <p>
    <%= f.label :Numero_exterior%><br>
    <%= f.text_field :OutdoorNumbe ,class:"form-control" %>
  </p>  

  <p>
    <%= f.label :Numero_Interior%><br>
    <%= f.text_field :IndoorNumbe,class:"form-control"  %>
  </p>

  <p>
    <%= f.label :Nombre%><br>
    <%= f.text_field :Name ,class:"form-control" %>
  </p>

  <p>
    <%= f.label :Latitud%><br>
    <%= f.text_field :Latitud,class:"form-control"  %>
  </p>

  <p>
    <%= f.label :Longitud %><br>
    <%= f.text_field :Longitud ,class:"form-control" %>
  </p>

  <p>
    <%= f.label :Puntuacion %><br>
    <%= f.text_field :score ,class:"form-control" %>
  </p>

   <p>
    <%= f.label :Hombre_de_negocios %><br>
    <%= f.text_field :businessmans,class:"form-control"  %>
  </p>

  <p>
    <%= f.label :Descripcion %><br>
    <%= f.text_area :Description ,class:"form-control" %>
  </p>
 
  <p>
    <%= f.submit :Guardar, class:"payment-btn paypal-btn no-margin" %>
  </p>
<% end %>
 
 </div>
</div>