
<div class="blue white-text large-padding bold text-center" style="<%= "display:none;" if alert.nil? && notice.nil? %>">
    <p class="no-padding no-margin inline-block"><%= notice %><%= alert %></p>
    <span class="pull-right close-parent">X</span>
  </div>

<div class="navbar navbar-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">GoTurista!</a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to '¿Tienes un negocio?, Registrate', 'users/sign_up' %></li>
        <li><%= link_to 'Ingresa', 'users/sign_in' %></li></li>
      </ul>
    </div>
  </div>
</div>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="6000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>


  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
    <li data-target="#bs-carousel" data-slide-to="4"></li>
    <li data-target="#bs-carousel" data-slide-to="5"></li>
    <li data-target="#bs-carousel" data-slide-to="6"></li>
    
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
          <h2>GoTurista</h2>        
          <h5>Encuentra los lugares y actividades que te haran vivir una gran experiencia</h5>
        </hgroup>
         <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }, :class=>"btn btn-primary btn-lg"%>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
          <h2>Unas Vacaciones Inolvidables</h2>        
          <h5>Vive una nueva aventura</h5>
        </hgroup>       
          <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }, :class=>"btn btn-primary btn-lg"%>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
          <h2>¿Ya Pensaste Que Hacer Hoy?</h2>        
          <h5>Te ayudamos, ven y explora Manzanillo</h5>
        </hgroup>
         <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }, :class=>"btn btn-primary btn-lg"%>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-4"></div>
      <div class="hero">        
        <hgroup>
          <h2>¿Ya Pensaste Que Hacer Hoy?</h2>        
          <h5>Te ayudamos, ven y explora Manzanillo</h5>
        </hgroup>
         <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }, :class=>"btn btn-primary btn-lg"%>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-5"></div>
      <div class="hero">        
        <hgroup>
          <h2>¿Ya Pensaste Que Hacer Hoy?</h2>        
          <h5>Te ayudamos, ven y explora Manzanillo</h5>
        </hgroup>
         <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }, :class=>"btn btn-primary btn-lg"%>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-6"></div>
      <div class="hero">        
        <hgroup>
          <h2>¿Ya Pensaste Que Hacer Hoy?</h2>        
          <h5>Te ayudamos, ven y explora Manzanillo</h5>
        </hgroup>
         <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }, :class=>"btn btn-primary btn-lg"%>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-7"></div>
      <div class="hero">        
        <hgroup>
          <h2>¿Ya Pensaste Que Hacer Hoy?</h2>        
          <h5>Te ayudamos, ven y explora Manzanillo</h5>
        </hgroup>
         <%= link_to "Explora Manzanillo", {:controller => "question", :action => "index" }, :class=>"btn btn-primary btn-lg"%>
      </div>
    </div>
  </div> 
</div>
