<!DOCTYPE html>
<html>
<head>
  <title>Goturista10</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>

 
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'company', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'morris', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'shop-homepage', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'fileinput', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'fileinput', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'empresario', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
  


   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

 
  


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bienvenido a GoTurista</title>

</head>
<body>
    <title>Go Turista</title>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

    <%= yield %>


  
</body>
</html>

